<h3 align="center">Editar Orden Trabajo Presupuesto</h3>

<%= render 'form', orden_trabajo_presupuesto: @orden_trabajo_presupuesto %>

<%= link_to 'Show', @orden_trabajo_presupuesto %> |
<%= link_to 'Back', orden_trabajo_presupuestos_path %>
