<h3 align="center">Nueva Orden de Trabajo-Presupuesto</h1>
<%= link_to 'Lista de Presupuesto', orden_trabajo_presupuestos_path %> <br><br>
<%= render 'form', orden_trabajo_presupuesto: @orden_trabajo_presupuesto %>

