<h3 align="center">Editar Vehiculo</h3>
<%= link_to '⬅ Lista de Clientes', clients_path %>
<br><br>
<%= render 'form', vehiculo: @vehiculo %>

<%#= link_to 'Show', @vehiculo %> 
<%#= link_to 'Back', vehiculos_path %>
