<h1>Editing Detalle Ot Presupuesto</h1>

<%= render 'form', detalle_ot_presupuesto: @detalle_ot_presupuesto %>

<%= link_to 'Show', @detalle_ot_presupuesto %> |
<%= link_to 'Back', detalle_ot_presupuestos_path %>
